---
layout: null
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

  {# ── Static pages ─────────────────────────────────────── #}
  <url>
    <loc>{{ site.url }}/en/</loc>
  </url>

  <url>
    <loc>{{ site.url }}/en/articles/</loc>
  </url>

  {# Additional archive pages contain different articles. #}
  {% for post in collections.postsEn %}
  {% if loop.index0 > 0 and loop.index0 % 12 == 0 %}
  <url>
    <loc>{{ site.url }}/en/articles/{{ (loop.index0 / 12) + 1 }}/</loc>
  </url>
  {% endif %}
  {% endfor %}

  {# ── Tag pages ─────────────────────────────────────────── #}
  {% for item in collections.tagListEn %}
  <url>
    <loc>{{ site.url }}/en/tags/{{ item.tag }}/</loc>
  </url>
  {% endfor %}

  {# ── Blog posts ────────────────────────────────────────── #}
  {% for post in collections.postsEn %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ (post.data.updated or post.date) | isoDate }}</lastmod>
  </url>
  {% endfor %}

</urlset>
